body {
  background-color: white;
  /* font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif; */
  font-family: "chalkduster", fantasy;
}

.bigContainer {
  display: flex;
  flex-direction: column;
  background-color: #c3fdff;
  border: black 2px solid;
}
.header {
  display: flex;
  justify-content: center;
}

.header {
  font-family: "chalkduster", fantasy;
  text-align: center;
  font-size: 30px;
}

.question {
  font-size: 40px;
  text-align: center;
}

.image {
  max-width: 200px;
  min-width: 10%;
  height: auto;
  border: black 3px solid;
  background-color: white;
}

.image:hover {
  cursor: pointer;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.imageCon {
  display: flex;
  gap: 30px;
  justify-content: center;
}

.btnCon {
  display: flex;
  justify-content: center;
}

.info {
  text-align: center;
  background-color: white;
  border: black 3px solid;
}

.content {
  max-width: 900px;
  min-width: 640px;
  min-height: 300px;
  max-height: 700px;
}

.container {
  display: flex;
  justify-content: center;
  margin: 50px 0px;
  align-items: center;
}

.scoreCon {
  font-size: 20px;
  display: flex;
  gap: 70px;
}

.btnCon {
  display: flex;
  gap: 30px;
}

.resultsCon {
  display: flex;
  justify-content: center;
}

.btn {
  text-align: center;
  font-family: "chalkduster", fantasy;
  text-decoration: none;
  border: black 2px solid;
  background-color: #c3fdff;
  font-size: 15px;
  padding: 10px;
  color: black;
  font-weight: bolder;
  width: 150px;
  height: 60px;
  margin-bottom: 20px;
}

.btn:hover {
  background-color: #ff868b;
  color: black;
  cursor: pointer;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.selected {
  background-color: #fffecc;
  border: black solid 7px;
}

.unSelected {
  filter: blur(2px);
}

.roundCon {
  margin-bottom: 30px;
}

.resultsTxt {
  text-align: center;
  font-size: 20px;
}
